<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/header.ejs") %>
</head>
<body>
    <button id="create">create a room</button>
    <script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script>
    <script>

        document.getElementById("create").addEventListener("click",sendRequest)
        function sendRequest(){
            const uid=uuidv4()
            fetch(`http://localhost:3000/create/${uid}`, {
            method: "POST",
            headers: {'Content-Type': 'application/json'}, 
            body: JSON.stringify(
                {
                    username:'user1',
                    id:uid
                }
            )
            }).then(res => {
            console.log("Request complete! response:", res);
            }).catch(err=>console.log(err))
        }
    </script>
</body>
</html>