<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body style="background-color:rgb(18, 19, 26);">
  <script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script>

  <div style="display: flex; justify-content:space-between;">
    <div>
      <input type="text" id="link-injector">
      <button id="load">load</button>
    </div>
    <div>
      <label for="invitation-link">invite others to join this room:</label>
    <input type="text" id="invitation-link" readonly style="width: 400px;">
    </div>

  </div>

  <script src="../socket.io/socket.io.js"></script>
    <script>
      const socket = io('/',{
        auth:{
          id:window.location.pathname
        }
      });
      
      let count=0;
      let count2=0;
      const LIMIT=0.2;
      let playerInterval;
      function createEmbed(videoId){
        scr=document.createElement("script");
        scr.innerHTML=`var tag = document.createElement('script');
                        tag.src = 'https://www.youtube.com/iframe_api';
                        var firstScriptTag = document.getElementsByTagName('script')[0];
                        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
                        var player;
                        function onYouTubeIframeAPIReady(videoId) {
                            player = new YT.Player
                            ('player', 
                            { height: '390', 
                            width: '640',
                            videoId: "${videoId}",
                              playerVars: { 'playsinline': 1,controls:0,'origin':"http://localhost:5000" }, 
                              events: { 'onReady': onPlayerReady, 'onStateChange': onPlayerStateChange } }); }
                        function onPlayerReady(event) { 
                            
                        } 
                        function onPlayerStateChange(event) { 
                          
                          if (event.data == YT.PlayerState.PAUSED){
                              clearInterval(playerInterval)
                              socket.emit("pause")
                              
                            }
                          let count=0;
                          if (event.data == YT.PlayerState.PLAYING){
                            if (count===0){
                              socket.emit("play",(response)=>{
                                  if (response.status==="ok"){
                                    player.playVideo()
                                  }
                              })
                            }
                            count=1;
                            playerInterval = setInterval(()=>customProgress(player.getCurrentTime(),player.getDuration()),1000);
                          }

                          /*if (event.data == YT.PlayerState.BUFFERING){
                            clearInterval(playerInterval)
                          }*/
                          
                        

                        } 
                        function stopVideo() { 
                            player.stopVideo(); 
                        }`
        document.getElementById("player").appendChild(scr); 
        document.getElementById("controller").style.display="flex"; 
      }

      function getLatency(time){
        const d = new Date();
        return (d.getTime() - time)*0.001 
      }

      socket.on("joined",(roomInfo)=>{
        console.log(roomInfo)
        document.getElementById("invitation-link").value = roomInfo.invitationLink ;
        if (roomInfo.currentlyPlaying){
          createEmbed(roomInfo.currentlyPlaying);
        }
      })

      socket.on("recieve",(videoId)=>{
        if (count2){
          player.loadVideoById(videoId);
        }else{
          createEmbed(videoId)
        }
        count2=1;
      });

      socket.on("recievedPlay",()=>{
        player.playVideo()
      })
      socket.on("recievedPause",()=>{
        clearInterval(playerInterval)
        player.pauseVideo()
      })
      socket.on("playVideo",(time)=>{
        playVideo.seekTo(time,true)
      })
      socket.on("recievedTime",(roomTime,realTime)=>{
        const latency=getLatency(realTime)
        if ( (roomTime+latency)-player.getCurrentTime()>=LIMIT ){
          console.log("here")
          player.seekTo(roomTime+latency)
        }
      })
      socket.on("recievedSeekedTime",(seekedTime,realTime)=>{
        player.seekTo(seekedTime+getLatency(realTime),true)
      })


      function handleClick(){
        //search for video
        const link=document.getElementById("link-injector").value;
        fetch(`https://www.googleapis.com/youtube/v3/search?part=snippet&maxResults=1&q=${link}&key=AIzaSyCS_8M26113YwMd6SS8z0okR4z11-0HikA`)
        .then(response=>response.json())
        .then(data=>{
          const videoId=data.items[0].id.videoId;
          socket.emit("upload",videoId)
          if (count){
            player.loadVideoById(videoId)
          }
          else{
            createEmbed(videoId)
            scr=document.createElement("script");
            count=1   
          }
        }) 
        .catch(err=>console.log(err)) 
      } 
      document.getElementById("load").addEventListener("click", handleClick);
    </script>
    <div id="player"></div>

    <div id="controller" style="display: none;">
    <button id="play-vid">
    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
      <path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
    </svg>
    </button>
    <button id="pause-vid">
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-pause" viewBox="0 0 16 16">
        <path d="M6 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/>
      </svg>
    </button>
    <div style="width: 550px;height: 37px;border:solid 1px gray;background-color: rgb(224, 221, 221);">
      <div style="margin-top: 10px;">
      <input type="range" id="vol" name="vol" min="0" max="100" value="0">
      </div>
    </div>
    

  </div>


  <script>
    /*if (!intiator) {
      player.getIframe().addEventListener("click",()=>{
      player.seekTo(intiatorTime)
    })
  }*/
    
    document.getElementById("play-vid").addEventListener("click",()=>{ 
      //if (!intiator) player.seekTo(intiatorTime)
      socket.emit("play",(response)=>{
        
        if (response.status==="ok"){
          player.playVideo()
        }
      })
      
    })
    document.getElementById("pause-vid").addEventListener("click",()=>{
      socket.emit("pause")
      player.pauseVideo()})
    
      /*
      })*/
    function customProgress(currentTime,totalTime){
      const d = new Date();
      const realTime=d.getTime();
      socket.emit("playing",currentTime,realTime)
      const time=(currentTime/totalTime)*100
      document.getElementById("vol").value=time
    }

    document.getElementById("vol").addEventListener("mouseup",(e)=>{
      const seekedTime=(e.target.value*player.getDuration())/100;
      const d = new Date();
      const realTime=d.getTime();
      socket.emit("seeking",seekedTime,realTime,(response)=>{
        
        if (response.status==="ok"){
          player.seekTo(seekedTime,true);
        }
      })
    })

  </script>

</body>
</html>
